/* GENERAL TAB STYLING */
#left_tabs {
    position: absolute;
	width: 100%;
	background: #c0c0c0;
    bottom: -1px; /* must be same thickness as tab border */
    left: 210px; /* based on width and padding of logo */
	height: 19px;
	padding: 5px 0px 0px;
}

#right_tabs {
    position: absolute;
    right: 15px;
    bottom: -1px; /* must be same thickness as tab border */
}

ul.tabs a, ul.tabs a:visited {
    color: #444; /* unselected tab text colour */
    font-weight: bold;
    text-decoration: none;
}

ul.tabs a:hover {
    color: #666; /* unselected tab text hover colour */
}

ul.tabs li {
    list-style-type: none;
    display: inline;
    padding: 5px 0 4px;
    margin: 0px 1px; /* to compensate for border */
}

ul.tabs li a {
    padding: 5px 12px;
}

ul.tabs {
    margin: 0 0 5px;
}
