{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}quiz{% endblock %}

{% block subnav %}
<ul>
  <li><a href="{% url quiz_welcome %}">{% trans "Welcome Quiz" %}</a></li>
  <li><a href="{% url quiz_all %}">{% trans "All Quiz's" %}</a></li>
  <li><a href="{% url quiz_new %}">{% trans "Add New Quiz" %}</a></li>
</ul>
{% endblock %}


{% block body %}
	<div class="sidebar">
		{% block sidebar0 %}{% endblock %}
		{% block sidebar1 %}{% endblock %}
		{% block sidebar2 %}{% endblock %}
	</div>
	<div class="mainbody">
		{% block mainbody %}{% endblock %}
	</div>
	<div class="clear"></div>
{% endblock %}

