{% extends "quiz/base.html" %}
 
{% load i18n %}
{% load uni_form_tags %}
 
{% block head_title %}{% blocktrans %}Create a New Quiz{% endblocktrans %}{% endblock %}

{% block mainbody %}
	<div class="quizOverViewContainer" style="display:none;">
		<ul class="quizOverView">
			<li class="capsule buttons details"><a class="left" href="#" title="change the details quiz">details</a></li>
			{% for question in questions%}
				<li class="capsule">
					<a href="#" class="question" title="{{ forloop.counter }}, not completed yet. <br/>2 marks. <br/>multichoice ">{{ forloop.counter }}</a>
					<div class="status"></div>
				</li>
			{% endfor %}
			<li class="capsule buttons settings"><a class="right" href="#" title="change settings for the quiz">settings</a></li>
			<li class="capsule buttons publish"><a class="right" href="#" title="quiz is ready to be published">publish</a></li>
			<li class="capsule buttons preview"><a class="left" href="#" title="see a preview of quiz">preview</a></li>
		</ul>
		<div class="clearboth"></div>
	</div>
	
	<div class="questionEditorContainer">
		<ul class="ullist welcome">
			<li>
				<ul class="ulaction">
					<li></li>
				</ul>
				<div class="details">
					<span>
						<br/><br/>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu risus diam, eget iaculis arcu. Fusce id enim quam, vel feugiat turpis. Etiam leo nibh, egestas sed pulvinar dignissim, vulputate nec ante. Etiam nulla
						<br/><br/>
					</span>
					<div class="quizform blank">
					    <form class="quiz_new uniForm" method="POST" action="{% url quiz_create %}">
					        {% csrf_token %}
					        <fieldset class="inlineLabels">
					            {{ quiz_form|as_uni_form }}
					            <div class="form_block">
								<input type="submit" value="{% trans "Add Questions &raquo;" %}">
								<input type="reset" value="{% trans "reset" %}">
					            </div>
					        </fieldset>
					    </form>
						<ul>
							<li class="template"><a class="thumb" href="#" title="blank template"><img src="{{ STATIC_URL }}img/black.png"></a></li>
							<li class="template"><a class="thumb" href="#" title="template #2"><img src="{{ STATIC_URL }}img/blue.png"></a></li>
							<li class="template"><a class="thumb" href="#" title="template #3"><img src="{{ STATIC_URL }}img/brown.png"></a></li>
							<li class="template"><a class="thumb" href="#" title="template #4"><img src="{{ STATIC_URL }}img/purple.png"></a></li>
							<li class="template"><a class="thumb" href="#" title="template #5"><img src="{{ STATIC_URL }}img/yellow.png"></a></li>
							<li class="template"><a class="thumb" href="#" title="template #6"><img src="{{ STATIC_URL }}img/red.png"></a></li>
						</ul>
				</div>
			</li>
		</ul>
	</div>
{% endblock %}

{% block sidebar0 %}
	<ul class="ullist box announcement">
		<li class="header">
			<ul class="ulaction activityaction">
				<li><a href="#" class="action close last">close</a></li>
			</ul>
			<h2> announcment stream </h2>
			<div class="details">
				<span class="question">this is a new announcement, this is a new announcement, this is a new announcement, </span>
			</div>
		</li>
	</ul>
{% endblock %}

{% block sidebar1 %}
	<ul class="ullist box sidebarst questionlist">
		<li class="header">
			<h2>Quiz #3</h2>
		</li>
		{% for event in events %}
		<li>
			<ul class="ulaction questionlist">
				<li><a href="#" class="action type last">multi choice</a></li>
			</ul>
			<div class="details">
				<h2><a href="#" class="">{{ forloop.counter }} question.</a></h2>
				<span class="question">question summary/info.</span>
			</div>
		</li>
		{% endfor %}
	</ul>
{% endblock %}
