{% extends "quiz/base.html" %}
 
{% load i18n %}
 
{% block head_title %}{% blocktrans %}Create a New Quiz{% endblocktrans %}{% endblock %}
 
{% block mainbody %}
	<div class="quizOverViewContainer" style="display:none;">
		<ul class="quizOverView">
			<li class="capsule buttons details"><a class="left" href="#" title="change the details quiz">details</a></li>
			{% for question in questions%}
				<li class="capsule">
					<a href="#" class="question" title="{{ forloop.counter }}, not completed yet. <br/>2 marks. <br/>multichoice ">{{ forloop.counter }}</a>
					<div class="status"></div>
				</li>
			{% endfor %}
			<li class="capsule buttons settings"><a class="right" href="#" title="change settings for the quiz">settings</a></li>
			<li class="capsule buttons publish"><a class="right" href="#" title="quiz is ready to be published">publish</a></li>
			<li class="capsule buttons preview"><a class="left" href="#" title="see a preview of quiz">preview</a></li>
		</ul>
		<div class="clear"></div>
	</div>
	
	<div class="questionEditorContainer">
		<ul class="ullist welcome">
			<li>
				<ul class="ulaction">
					<li><a href="#" class="action close last">close</a></li>
				</ul>
				<div class="details">
					<span>
						<br/><br/>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu risus diam, eget iaculis arcu. Fusce id enim quam, vel feugiat turpis. Etiam leo nibh, egestas sed pulvinar dignissim, vulputate nec ante. Etiam nulla
						<br/><br/>
					</span>
					<div class="quizform blank">
						<form class="login uniForm">
							<fieldset class="inlineLabels">
								<label for="id_quizname">quiz name : </label><input type="text" id="id_quizname" name="quizname" value="quiz name"><br/>
								<label for="id_subject">subject : </label><input type="text" id="id_subject" name="subject" value="subject"><br/>
								<label for="id_date">date : </label><input type="text" id="id_date" name="date" value="date"><br/>
								<label for="id_class">class : </label><input type="text" id="id_class" name="class" value="class"><br/>
								<label for="id_totalmarks">total marks : </label><input type="text" id="id_totalmarks" name="totalmarks" value="total marks"><br/>
								<label for="id_totalquestions">total questions : </label><input type="text" id="id_totalquestions" name="totalquestions" value="total questions"><br/>
								<label for="id_quizduration">quiz duration : </label><input type="text" id="id_quizduration" name="quizduration" value="duration of the quiz"><br/>
								<label for="id_quiznote">quiz note : </label><input type="text" id="id_quiznote" name="quiznote" value="quiz note"><br/>
								
								<input type="button" value="start adding questions">
								<input type="reset" value="reset"><br/>
							</fieldset>
							
						</form>
					<div>
						<ul>
							<li class="template"><a class="thumb" href="#" title="blank template"><img src="{{ STATIC_URL }}img/img1-thumb.jpg"></a></li>
							<li class="template"><a class="thumb" href="#" title="cat template"><img src="{{ STATIC_URL }}img/img2-thumb.jpg"></a></li>
							<li class="template"><a class="thumb" href="#" title="gre template"><img src="{{ STATIC_URL }}img/img3-thumb.jpg"></a></li>
							<li class="template"><a class="thumb" href="#" title="school exam template"><img src="{{ STATIC_URL }}img/img4-thumb.jpg"></a></li>
							<li class="template"><a class="thumb" href="#" title="rapid quiz template"><img src="{{ STATIC_URL }}img/img5-thumb.jpg"></a></li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
{% endblock %}

{% block sidebar0 %}
	<ul class="ullist box announcement">
		<li class="header">
			<ul class="ulaction activityaction">
				<li><a href="#" class="action close last">close</a></li>
			</ul>
			<h2> announcment stream </h2>
			<div class="details">
				<span class="question">this is a new announcement, this is a new announcement, this is a new announcement, </span>
			</div>
		</li>
	</ul>
{% endblock %}

{% block sidebar1 %}
	<ul class="ullist box sidebarst questionlist">
		<li class="header">
			<h2>Quiz #3</h2>
		</li>
		{% for event in events %}
		<li>
			<ul class="ulaction questionlist">
				<li><a href="#" class="action type last">multi choice</a></li>
			</ul>
			<div class="details">
				<h2><a href="#" class="">{{ forloop.counter }} question.</a></h2>
				<span class="question">question summary/info.</span>
			</div>
		</li>
		{% endfor %}
	</ul>
{% endblock %}
