{% extends "quiz/base.html" %}
 
{% load i18n %}
 
{% block head_title %}{% blocktrans %}Create a New Quiz{% endblocktrans %}{% endblock %}
 
{% block mainbody %}
	<div class="quizOverViewContainer">
			<ul class="quizOverView">
				<li class="capsule buttons"><a class="left" href="#" title="change the details quiz">details</a></li>
				<li class="capsule buttons"><a class="left right" href="#" title="change settings for the quiz">settings</a></li>
				<li class="capsule buttons"><a class="left right" href="#" title="see a preview of quiz">preview</a></li>
				<li class="capsule buttons"><a class="left right" href="#" title="quiz is ready to be published">publish</a></li>
				<li class="capsule buttons"><a class="left right" href="#" title="cancel all changes to the quiz">cancel</a></li>
				<li class="capsule buttons last"><a class="right" href="#" title="save the quiz">save</a></li>
			</ul>
			<ul class="quizOverView">
				{% for question in questions%}
					<li class="capsule">
						<a href="#" class="question" title="{{ forloop.counter }}, not completed yet.">{{ forloop.counter }}</a>
						<div class="status"></div>
					</li>
				{% endfor %}
				<li class="capsule buttons last"><a class="right" href="#" title="add new question">add</a></li>
			</ul>
		<div class="clear"></div>
	</div>
	
	<div class="questionEditorContainer">
		<ul class="ullist welcome">
			<li>
				<ul class="ulaction">
					<li><a href="#" class="action close last">close</a></li>
				</ul>
				<div class="details">
					<span>
						<br/><br/>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu risus diam, eget iaculis arcu. Fusce id enim quam, vel feugiat turpis. Etiam leo nibh, egestas sed pulvinar dignissim, vulputate nec ante. Etiam nulla
					</span>
					<div>
						<ul>
							<li class="template"><a class="thumb" href="#" title="blank template"><img src="{{ STATIC_URL }}img/img1-thumb.jpg"></a></li>
							<li class="template"><a class="thumb" href="#" title="cat template"><img src="{{ STATIC_URL }}img/img2-thumb.jpg"></a></li>
							<li class="template"><a class="thumb" href="#" title="gre template"><img src="{{ STATIC_URL }}img/img3-thumb.jpg"></a></li>
							<li class="template"><a class="thumb" href="#" title="school exam template"><img src="{{ STATIC_URL }}img/img4-thumb.jpg"></a></li>
							<li class="template"><a class="thumb" href="#" title="rapid quiz template"><img src="{{ STATIC_URL }}img/img5-thumb.jpg"></a></li>
						</ul>
					</div>
					<div class="quizform blank">
						<form>
							<input type="text" value="quiz name">
							<input type="text" value="subject">
							<input type="text" value="date">
						</form>
					</div>
				</div>
			</li>
		</ul>
	</div>
{% endblock %}

{% block sidebar0 %}
	<ul class="ullist box announcement">
		<li class="header">
			<ul class="ulaction activityaction">
				<li><a href="#" class="action close last">close</a></li>
			</ul>
			<h2> announcment stream </h2>
			<div class="details">
				<span class="question">this is a new announcement, this is a new announcement, this is a new announcement, </span>
			</div>
		</li>
	</ul>
{% endblock %}

{% block sidebar1 %}
	<ul class="ullist box sidebarst questionlist">
		<li class="header">
			<h2>Quiz #3</h2>
		</li>
		{% for event in events %}
		<li>
			<ul class="ulaction questionlist">
				<li><a href="#" class="action type last">multi choice</a></li>
			</ul>
			<div class="details">
				<h2><a href="#" class="">{{ forloop.counter }} question.</a></h2>
				<span class="question">question summary/info.</span>
			</div>
		</li>
		{% endfor %}
	</ul>
{% endblock %}
