{% extends "quiz/base.html" %}
 
{% load i18n %}
 
{% block head_title %}{% blocktrans %}Create a New Quiz{% endblocktrans %}{% endblock %}
 
{% block mainbody %}
	<div class="quizOverViewContainer">
		<ul class="quizOverView">
			<li class="capsule buttons"><a class="left" href="#" title="quiz details">details</a></li>
			{% for question in questions%}
				<li class="capsule">
					<a href="#" class="question" title="{{ forloop.counter }}, not completed yet.">{{ forloop.counter }}</a>
					<div class="status"></div>
				</li>
			{% endfor %}
			<li class="capsule buttons action"><a class="right" href="#" title="download the quiz">download</a></li>
			<li class="capsule buttons action"><a href="#" title="publish the quiz">publish</a></li>
			<li class="capsule buttons action"><a class="left" href="#" title="see preview of the quiz">preview</a></li>
		</ul>
	</div>
	
	<div class="questionEditorContainer">
		<form>
			<textarea class="question">this is where you type a question.</textarea>
			<textarea class="answer">this is where you type an answer.</textarea>
			
			<input type="reset" value="reset">
			<input type="button" value="save & next">
		</form>
	</div>
{% endblock %}

{% block sidebar0 %}
	<ul class="ullist box announcement">
		<li class="header">
			<ul class="ulaction activityaction">
				<li><a href="#" class="action close last">close</a></li>
			</ul>
			<h2> announcment stream </h2>
			<div class="details">
				<span class="question">this is a new announcement, this is a new announcement, this is a new announcement, </span>
			</div>
			<div class="details collapsed">
				<a href="#">a</a>
			</div>
		</li>
	</ul>
{% endblock %}

{% block sidebar1 %}
	<ul class="ullist box sidebarst questionlist">
		<li class="header">
			<h2>Quiz #3</h2>
		</li>
		{% for event in events %}
		<li>
			<ul class="ulaction questionlist">
				<li><a href="#" class="action type last">multi choice</a></li>
			</ul>
			<div class="details">
				<h2><a href="#" class="">{{ forloop.counter }} question.</a></h2>
				<span class="question">question summary/info.</span>
			</div>
		</li>
		{% endfor %}
	</ul>
{% endblock %}
