{% extends "quiz/base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}All Quiz's{% endblocktrans %}{% endblock %}

{% block mainbody %}
	<div class="welcome">
{% endblock %}

{% block sidebar0 %}
	<div class="activitybox">
		<h2 class="header"> announcment stream </h2>
		<ul class="activitystream">
			<li>
				<ul class="activity-action">
					<li><a href="#" class="action reply last">close</a></li>
				</ul>
				<div class="details">
					<span class="question">this is a new announcement, this is a new announcement, this is a new announcement, </span>
				</div>
			</li>
		</ul>
	</div>
{% endblock %}

{% block sidebar1 %}
	<div class="activitybox">
		<h2 class="header"> activity stream </h2>
		<ul class="activitystream">
			{% for user in activity %}
			<li>
				<ul class="activity-action">
					<li><a href="#" class="action reply">reply</a></li>
					<li><a href="ignore" class="action ignore last">ignore</a></li>
				</ul>
				<div class="details">
					<h2><a href="#">Subhash K.</a></h2>
					<span class="question">question question question question question question question question question </span>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
	
{% block sidebar2 %}
	<div class="eventsbox">
		<h2 class="header"> current tests</h2>
		<ul class="eventsstream">
			{% for event in events %}
			<li>
				<ul class="events-action">
					<li><a href="#" class="action type">quiz type</a></li>
					<li><a href="ignore" class="action status last">status</a></li>
				</ul>
				<div class="details">
					<h2><a href="#" class="">{{ forloop.counter }} Unit Test.</a></h2>
					<span class="question">question paper summary/info.</span>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}