div.mainbody {
    margin-left: 5px;
    margin-right: 295px;
}

body.quiz div.expand div.mainbody {
    margin-right: 95px;
}

ul.ullist > li {
    margin: 0 0 5px;
    padding: 5px 5px 5px;
    background: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
	-moz-border-radius: 3px;
}

/* @TODO refactor/optimize */
ul.sidebarst > li {
    padding: 3px;
    margin: 0 0 -1px 0;
    border-radius: 0px;
	-moz-border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
}

ul.ullist > li:hover {
    background: #CCCCCC;
}

/* 'display:block' is NOT redundant definition; it controls the gap between two text lines,
 * certainly i should use something else. */
ul.ullist .details span {
    display: block;
    font-size: 10px;
    font-style: italic;
}

ul.quizlt .details h2 a.title {
    font-size: 13px;
}

ul.ullist .details h2 a.title:hover, ul.ullist ul.ulaction li a.action:hover {
    text-decoration: underline;
}

ul.ullist ul.ulaction {
    float: right;
    margin-top: -3px;
}

/* @TODO refactor/optimize */
ul.ullist ul.ulaction li {
    display: inline;
    visibility: hidden;
}

/* @TODO refactor/optimize */
ul.ullist > li:hover ul.ulaction li {
    visibility: inherit;
}

ul.ullist ul.ulaction li a.action {
    display: inline;
    color: #666666;
    font-size: 10px;
    margin: 0 !important;
    padding: 0px 6px 0px 2px;
    border-right: 1px solid #666666;
}

div.sidebar {
    float: right;
    width: 260px;
    padding: 0 5px 0 12px;
}

body.quiz div.expand div.sidebar {
    width: 60px;
}

div.collapsible {
	float: left;
	margin-left: -12px;
	height: 400px;
	padding: 0 2px;
    background: #DDDDDD;
	cursor: e-resize;
}

body.quiz div.expand div.collapsible {
	cursor: w-resize;
}

.collapsible-border {
	border-left: 1px #666666 solid;
	border-right: 1px #666666 solid;
}

ul.box {
    color: #666666;
    background: #F5F5F5;
    margin-bottom: 10px;
    border-radius: 3px;
	-moz-border-radius: 3px;
    border: 1px solid #DDDDDD;
}

ul.box li.header {
    padding: 5px;
    background: #cccccc;
}

ul.box li.header h2 {
    font-size: 13px;
}

ul.announcement {
    background: #EAF2F5;
    border-color: #BEDCE7;
}

ul.announcement li.header div.collapsed {
	display: none;
} 

body.quiz div.expand ul.announcement li.header h2,
body.quiz div.expand ul.announcement li.header div.details {
	display: none;
}

body.quiz div.expand ul.announcement li.header div.collapsed {
	display: block;
}

ul.announcement li.header, 
ul.announcement li.header h2 {
    border: none;
    padding-bottom: 2px;
    background: #EAF2F5;
}

ul.welcome {
    padding: 10px 10px 200px 10px;
    background: #EAF2F5;
    border-radius: 3px;
	-moz-border-radius: 3px;
    border: 1px solid #BEDCE7;
}

/* @TODO refactor/optimize */
ul.welcome li, ul.welcome li:hover {
    border: none;
    background: none;
}

ul.welcome ul.ulaction {
    float: right;
    margin-top: -10px;
    margin-right: -10px;
}

ul.welcome .details span {
    font-size: 12px;
    font-style: normal;
}

.quiz-summary {
    display: none;
    padding: 5px 0 10px 0;
    margin-bottom: 100px;
}

/** QUIZ OVERVIEW START HERE **/
div.quizOverViewContainer {
    height: 30px;
    margin: 5px 0;
    padding: 5px 0;
}

/* @TODO refactor/optimize */
ul.quizOverView li {
    float: left;
}

ul.quizOverView li.capsule a.question {
    height: 18px;
    padding: 5px 4px;
    margin-left: -1px;
    border-right: 1px #DDDDDD solid;
}

ul.quizOverView li.capsule div.status {
    padding: 3px;
    background: green;
}

ul.quizOverView li.capsule a.question:hover {
    background: #dddddd;
}

ul.quizOverView li.buttons a {
    padding: 5px;
    color: #666666;
    border-radius: 4px;
	-moz-border-radius: 4px;
    border: 1px #DDDDDD solid;
    background: #F5F5F5;
}

ul.quizOverView li.action {
	float: right;
}

ul.quizOverView li.buttons a.right {
	margin-right: 0px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

ul.quizOverView li.buttons a.left {
    margin-left: -1px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

div#delete_quiz {
    width: 300px;
}
/** QUIZ OVERVIEW ENDS HERE **/

div.buttons a.yes, div.buttons a.no {
    margin-right: 15px;
    text-decoration: underline;
}

/* @TODO refactor, make it generic. */
ul.ullist ul.ulaction li a.last {
    border-right: none;
}

/** QUIZ TEMPLATES STARTS HERE **/
ul.welcome li.template {
    float: left;
}

ul.welcome li.template a.thumb img {
    margin: 3px;
    padding: 3px;
	border: 1px #DDDDDD solid;
}
/** QUIZ TEMPLATES ENDS HERE **/
