{% extends "bookstore/base.html" %}
 
{% load i18n %}
{% load uni_form_tags %}

{% uni_form form helper %}

{% block head_title %}{% blocktrans %}Add Book{% endblocktrans %}{% endblock %}
 
{% block body %}
    <h1>{% trans "Add Book" %}</h1>
 
    <form enctype="multipart/form-data" method="POST" action="" class="uniForm">
	{% csrf_token %}
        <fieldset class="inlineLabels">
            {{ book_form|as_uni_form }}
            <div class="form_block">
                <input type="submit" value="{% trans 'add book' %}">
            </div>
        </fieldset>
    </form>
{% endblock %}
